

#footer-container {
  margin: 20px auto;
  position: relative;
  text-align: center;
}

main {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 15px;
}

i {
  font-size: medium;
  padding-left: 15px;
  float: right;
}



#search-form{
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.container-game{
  max-width: 100%;
  min-height: 330px;
  margin: 0 auto;
  background-image: url('../images/ghost-of-tsushima-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  overflow: hidden;
  position: relative;
}
.cards{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.card {
  width: 100px;
  height: 100px;
  margin: 10px; 
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;  
  opacity: 0.4;
  transition: opacity 0.3s ease;
  color: rgba(255, 255, 255, 0);
  text-align: center;
}

.card p {
  font-weight: bold;
  vertical-align: bottom;
}
.card:hover {
  opacity: 1;
  color: white;
}

.clearfix {
  clear: both;
}

.container .row:after {
  content: "";
  display: block;
  clear: both;
}

.logos {
  width: 50px;
  height: 50px;
}


#steam {
  background: linear-gradient(135deg, #153667 0%, #131c2a 100%);
}

#epic {
  background: linear-gradient(135deg, #313131 0%, #1c1c1c 100%);
}

#rockstar {
  background: linear-gradient(135deg, #e5bc03 0%, #f0c505 100%);
}

#nuuvem {
  background: linear-gradient(135deg, #527583 0%, #0076a3 100%);
}

.card-content img{
  transform: translate(10%, 10%);
}
.info {
  height: 50%;
  background-color: rgb(238,247,254);
}
.info-content,
.info-image {
    width: 5px auto;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.info-content p {
    margin: 10px 20px;
    font-size:medium;
    line-height: 1.5;
}

.info-image img {	
    width: 100%;
    display: block;
}
.info1{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.info2 {
  height: 50%;
  background-color: rgb(197,230,249);
}


.info-image2 img {	
  width: 110%;
  display: block;
}


.cadastro {  
  color: rgb(195,3,80);
  background-color: #fff0f0;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid rgb(254,61,106);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.8s, background-color 0.2s;
}

.cadastro:hover {
  transform: scale(1.1);
  cursor: pointer;
}
