@import url(/src/header/header.css);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" );
@import url(/src/footer/footer.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url(/src/modal/modal.css);
@import url(/src/sobre/sobre.css);
@import url(/src/jogos/jogos.css);
@import url(/src/contato/contato.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #1b2838;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

#footer-container {
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

main {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem; 
}

i {
  font-size: 1rem;
  padding-left: 1rem;
  float: right;
}



.container-game {
  max-width: 100%;
  height: auto; 
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.cards {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 0.625rem; 
  flex-wrap: wrap; 
}

.card {
  width: 6rem;
  height: 6rem; 
  margin: 0.625rem;
  border-radius: 0.625rem;
  overflow: hidden;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  z-index: 2;
}

.card p {
  font-weight: bold;
  vertical-align: bottom;
}

.card:hover {
  opacity: 1;
  color: white;
}

.clearfix {
  clear: both;
}

.container .row:after {
  content: "";
  display: block;
  clear: both;
}

.logos {
  width: 3rem; 
  height: 3rem; 
}

#steam {
  background: linear-gradient(135deg, #153667 0%, #131c2a 100%);
}

#epic {
  background: linear-gradient(135deg, #313131 0%, #1c1c1c 100%);
}

#rockstar {
  background: linear-gradient(135deg, #e5bc03 0%, #f0c505 100%);
}

#nuuvem {
  background: linear-gradient(135deg, #527583 0%, #0076a3 100%);
}

.card-content img {
  transform: translate(10%, 10%);
}

.info {
  background-color: rgb(238, 247, 254);
  padding: 1.25rem; 
}

.info-content,
.info-image {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.info-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.info-image img {
  width: 100%;
  display: block;
}

.info1 {
  margin-top:  1.25rem; 
  border-top-right-radius: 1rem; 
  border-top-left-radius: 1rem; 
} 

.info2 {
  background-color: rgb(197, 230, 249);
  border-bottom-right-radius: 1rem; 
  border-bottom-left-radius: 1rem; 
}

.info-image2 img {
  width: 100%;
  display: block;
}

.cadastro {
  color: rgb(195, 3, 80);
  background-color: #fff0f0;
  text-align: center;
  padding: 0.5rem 1rem; 
  border: 0.125rem solid rgb(254, 61, 106); 
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2); 
  font-weight: bold;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  transition: transform 0.8s, background-color 0.2s;
}

.cadastro:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .info-content,
  .info-image {
    display: block;
    width: 100%;
    text-align: center;
  }

  .info-image img {
    width: 80%;
    margin: 0 auto;
  }

  .cards {
    flex-direction: column;
    align-items: flex-start;
    height: 100%
  }

  .card {
    width: max-content; 
    height: 4rem; 
  }

  .card-content {
    display: inline-flex;
    width: auto;
    flex-direction: row;
    align-items: center;
  }

  .card p{
    margin: 0;
    margin-left: 0.5rem
  }

  .cadastro {
    
    padding: 1rem; 
    font-size: larger;
  }
}

@media (max-width: 480px) {
  .card {
    width: 4rem;
    height: 4rem; 
  }

  .cadastro {
    width: auto;
    font-size: larger;
    padding: 1.25rem; 
  }


}
