header {
  background-color: #0f0d3d;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

header h1 {
  text-align: center;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  color: white;
  position: relative;
  font-family: 'Oswald', sans-serif;
}

header i {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(40%);
  color: white;
  font-size: medium;
  cursor: pointer;
}


#user-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 50px;
  background-color: #444;
  border: 1px solid #333;
  width: 150px;
  z-index: 1;
}

#user-menu li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

#user-menu li:last-child {
  border-bottom: none;
}

#user-menu a {
  color: white;
  text-decoration: none;
  display: block;
}

#user-menu li:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.title-text {
  display: inline-block; /* Permite a aplicação de transformações */
  transition: transform 0.8s, color 0.2s;
  color: inherit; /* Herda a cor do pai */
  text-decoration: none; /* Remove o sublinhado dos links */
}



.title-text .highlight {
  color: #d81818;
  background-color: #fff0f0;
  padding: 5px 10px;
  border: 2px solid #d04c0f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.8s, background-color 0.2s;
}


.title-text:hover {
  transform: scale(1.1);
  color: #d81818; 
  cursor: pointer;
}


.page-logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10%;
}

.page-logo a {
  display: block; /* Garante que o <a> seja um bloco, cobrindo toda a área do filho */
}

.page-logo img {
  width: 100px;
  display: block; /* Remove espaçamento indesejado ao redor da imagem */
}



nav ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  text-align: center; /* Centraliza os itens dentro do nav */
}

nav ul li {
  display: inline-block;
  /* Ajuste este valor conforme necessário */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Remove default link colors */
.title a:link,
.title a:visited,
.title a:active {
  text-decoration: none;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: none;
  background: #010a13a0;
  box-shadow: 0px 4px 18px #5681b0;
  padding: 60px;
  z-index: 1;
}

.modal-form {
    gap: 15px;
    margin-bottom: 55px;
}

.modal-form input {
    margin: 5px;
    height: 24px;
    color: var(--corclara, #eaf4f6);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.button {
    margin: 0;
    margin-top: 20px;
    border: 2px;
    border-radius: 10px;
    cursor: pointer;/* Começar */    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;    
    text-align: center;
}
.button:hover{
    border: 2px solid #0397AB; 
    box-shadow: 0 0 10px 5px rgba(3, 151, 171, 0.5); 
}

.close-modal {
    position: absolute;  
    top: 10px;
    right: 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 24px;    
    text-align: center;
}